# How to download flights csv file from transtats website

**In this notebook, we will**
1. Download a csv file for each of your chosen year(s) and month(s)
2. Prepare the data for further processing
3. Push the prepared data to a table in the database

In [2]:
# Import all necessary libraries
import pandas as pd
import numpy as np
import psycopg2 # needed to get database exception errors when uploading dataframe
import requests # package for getting data from the web
from zipfile import * # package for unzipping zip files

In [45]:
# Import the get_engine function from our sql_functions.
from sql_functions import get_engine #adjust this as necessary to match your sql_functions.py connection methods
engine = get_engine()

# 1. Download csv file with flight data for your specific year/month

In the following, you are going to download a csv file containing flight data from [this website](https://transtats.bts.gov).    
You can specify, which data you want to download.

Choose a month/year that you want to explore further.
With the following functions, you will download a csv file on public flight data from [this website](https://transtats.bts.gov) containing data of your chosen month/year.    
The file will be stored in a data folder.
Check out the url from which we download the data(https://transtats.bts.gov/PREZIP). Can we download data in this way from every source? What do you think?

In [9]:
# Specifies path for saving file
path ='data/' 
# Create the data folder
!mkdir {path}

mkdir: data/: File exists

In [12]:
# function to get specified csv file from the website https://transtats.bts.gov

def download_data(year, month):
    # Get the file from the website https://transtats.bts.gov
    zip_file = f'On_Time_Reporting_Carrier_On_Time_Performance_1987_present_{year}_{month}.zip'
    url = (f'https://transtats.bts.gov/PREZIP/{zip_file}')
    # Download the database
    r = requests.get(f'{url}', verify=False)
    # Save database to local file storage
    with open(path+zip_file, 'wb') as f:
        f.write(r.content)
        print(f'--> zip_file with name: {zip_file} downloaded succesfully.' )

In [37]:
# function to extract the csv files inside the zip files

def extract_zip(year, month):
    # Get the file from the website https://transtats.bts.gov
    zip_file = f'On_Time_Reporting_Carrier_On_Time_Performance_1987_present_{year}_{month}.zip'
    with ZipFile(path+zip_file, 'r') as zip_ref:
        zip_ref.extractall(path)
        csv_file =  zip_ref.namelist()[0]
        print(f'--> zip_file was succesfully extracted to: {csv_file}.' )

Don't worry - the following download of the data you chose may take some time ...

In [ ]:
years_list = [2018, 2019, 2020, 2021, 2022] # list of years you want to look at (can of course also be a single year)
months_list = [1, 12] # list of months you want to look at (can of course also be a single month)

# download flights data as zipfile(s)
# we use a nested loop to specify the years and months to define the range of the data we would like to have 
for year in years_list:
    for month in months_list:
        download_data(year, month)
        extract_zip(year, month)

Now it is time to load the csv files into dataframes. You can create your own function equivalent to the functions above. But you need to decide whether...

- Do you need one dataframe for every month?
- Would you like to proceed with only one dataframe containing all the data you downloaded?
- One dataframe for every year?

There are certain things to consider before.
- changing column names
- dealing with missing data
- changing datatypes

#### Giving name of CSV for January (2018 until 2022)

In [ ]:
# define the name of the csv file you want to read in
csv_file_2018_1 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2018_1.csv'

# Read in your data
df_2018_1 = pd.read_csv(path+csv_file_2018_1, low_memory = False)
display(df_2018_1.shape)
display(df_2018_1.head(10))

In [ ]:
# define the name of the csv file you want to read in
csv_file_2019_1 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2019_1.csv'

# Read in your data
df_2019_1 = pd.read_csv(path+csv_file_2019_1, low_memory = False)
display(df_2019_1.shape)
display(df_2019_1.head(10))

In [ ]:
# define the name of the csv file you want to read in
csv_file_2020_1 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2020_1.csv'

# Read in your data
df_2020_1 = pd.read_csv(path+csv_file_2020_1, low_memory = False)
display(df_2020_1.shape)
display(df_2020_1.head(10))

In [ ]:
# define the name of the csv file you want to read in
csv_file_2021_1 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2021_1.csv'

# Read in your data
df_2021_1 = pd.read_csv(path+csv_file_2021_1, low_memory = False)
display(df_2021_1.shape)
display(df_2021_1.head(10))

In [ ]:
# define the name of the csv file you want to read in
csv_file_2022_1 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2022_1.csv'

# Read in your data
df_2022_1 = pd.read_csv(path+csv_file_2022_1, low_memory = False)
display(df_2022_1.shape)
display(df_2022_1.head(10))

#### Giving name of CSV for December (2018 until 2022)

In [ ]:
# define the name of the csv file you want to read in
csv_file_2018_12 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2018_12.csv'

# Read in your data
df_2018_12 = pd.read_csv(path+csv_file_2018_12, low_memory = False)
display(df_2018_12.shape)
display(df_2018_12.head(10))

In [ ]:
# define the name of the csv file you want to read in
csv_file_2019_12 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2019_12.csv'

# Read in your data
df_2019_12 = pd.read_csv(path+csv_file_2019_12, low_memory = False)
display(df_2019_12.shape)
display(df_2019_12.head(10))

In [ ]:
# define the name of the csv file you want to read in
csv_file_2020_12 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2020_12.csv'

# Read in your data
df_2020_12 = pd.read_csv(path+csv_file_2020_12, low_memory = False)
display(df_2020_12.shape)
display(df_2020_12.head(10))

In [ ]:
# define the name of the csv file you want to read in
csv_file_2021_12 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2021_12.csv'

# Read in your data
df_2021_12 = pd.read_csv(path+csv_file_2021_12, low_memory = False)
display(df_2021_12.shape)
display(df_2021_12.head(10))

In [ ]:
# define the name of the csv file you want to read in
csv_file_2022_12 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2022_12.csv'

# Read in your data
df_2022_12 = pd.read_csv(path+csv_file_2022_12, low_memory = False)
display(df_2022_12.shape)
display(df_2022_12.head(10))

### Combining all dataframes with concat function (2018 - 2022, December)

##### We just decided to focus on December since the data was too large when including January

In [51]:
"""frames = [df_2018_1, df_2018_12, df_2019_1, df_2019_12, df_2020_1, df_2020_12, df_2021_1, df_2021_12, df_2022_1, df_2022_12]"""

frames2 = [df_2018_12, df_2019_12, df_2020_12, df_2021_12, df_2022_12]
df = pd.concat(frames2)
df.shape

(2699942, 110)

# 2. Prepare the csv file for further processing

In the next step, we clean and prepare our dataset.

a) Since the dataset consists of a lot of columns, we we define which ones to keep.  
(Same as known from our SQL exercises on flights data.)

In [52]:
# Columns from downloaded file that are to be kept

columns_to_keep = [
                'FlightDate',
                'DepTime',
                'CRSDepTime',
                'DepDelay',
                'ArrTime',
                'CRSArrTime',
                'ArrDelay',
                'Reporting_Airline',
                'Tail_Number',
                'Flight_Number_Reporting_Airline',
                'Origin',
                'Dest',
                'AirTime',
                'ActualElapsedTime',
                'Distance',
                'Cancelled',
                'Diverted'
]

In [53]:
# The columns in the database have different naming as in the source csv files. Lets get the names from the database

schema = 'hh_analytics_23_1' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = get_engine() # assign engine to be able to query against the database

table_name_sql = f'''SELECT COLUMN_NAME 
                    FROM INFORMATION_SCHEMA.COLUMNS 
                    WHERE TABLE_NAME = 'flights'
                    AND TABLE_SCHEMA ='{schema}'
                    ORDER BY ordinal_position'''
c_names = engine.execute(table_name_sql).fetchall()
c_names

[('flight_date',),
 ('dep_time',),
 ('sched_dep_time',),
 ('dep_delay',),
 ('arr_time',),
 ('sched_arr_time',),
 ('arr_delay',),
 ('airline',),
 ('tail_number',),
 ('flight_number',),
 ('origin',),
 ('dest',),
 ('air_time',),
 ('actual_elapsed_time',),
 ('distance',),
 ('cancelled',),
 ('diverted',)]

In [55]:
# we can clean up the results into a clean list
new_column_names=[]
for name in c_names:
    new_column_names.append(name[0])
new_column_names

['flight_date',
 'dep_time',
 'sched_dep_time',
 'dep_delay',
 'arr_time',
 'sched_arr_time',
 'arr_delay',
 'airline',
 'tail_number',
 'flight_number',
 'origin',
 'dest',
 'air_time',
 'actual_elapsed_time',
 'distance',
 'cancelled',
 'diverted']

In [ ]:
# Just in case the above fails here are the results
'''new_column_names_alternate = ['flight_date', 'dep_time', 'sched_dep_time', 'dep_delay', 'arr_time', 'sched_arr_time', 
                'arr_delay', 'airline', 'tail_number', 'flight_number', 'origin', 'dest', 'air_time', 'actual_elapsed_time', 'distance', 'cancelled', 'diverted' ]'''

b) With the next function, we make our csv file ready to be uploaded to SQL.  
We only keep to above specified columns and convert the datatypes.

In [56]:
def clean_airline_df(df):
    '''
    Transforms a df made from BTS csv file into a df that is ready to be uploaded to SQL
    Set rows=0 for no filtering
    '''

    # Build dataframe including only the columns you want to keep
    df_airline = df.loc[:,columns_to_keep]
     
    # Clean data types and NULLs
    df_airline['FlightDate']= pd.to_datetime(df_airline['FlightDate'], yearfirst=True)
    df_airline['CRSArrTime']= pd.to_numeric(df_airline['CRSArrTime'], downcast='integer', errors='coerce')
    df_airline['Cancelled']= pd.to_numeric(df_airline['Cancelled'], downcast='integer')
    df_airline['Diverted']= pd.to_numeric(df_airline['Diverted'], downcast='integer')
    df_airline['ActualElapsedTime']= pd.to_numeric(df_airline['ActualElapsedTime'], downcast='integer', errors='coerce')
    
    # Rename columns
    df_airline.columns = new_column_names
    
    return df_airline

In [57]:
# Call function and check resulting dataframe
df_clean = clean_airline_df(df)
df_clean.head()

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,origin,dest,air_time,actual_elapsed_time,distance,cancelled,diverted
0,2018-12-18,957.0,1000,-3.0,1144.0,1212,-28.0,OO,N8903A,3984,MSP,ICT,85.0,107.0,545.0,0,0
1,2018-12-18,924.0,840,44.0,1058.0,1031,27.0,OO,N771SK,3989,DTW,RIC,63.0,94.0,456.0,0,0
2,2018-12-18,1134.0,1106,28.0,1318.0,1252,26.0,OO,N771SK,3989,RIC,DTW,76.0,104.0,456.0,0,0
3,2018-12-18,1049.0,1052,-3.0,1146.0,1148,-2.0,OO,N931EV,3991,CHA,ATL,29.0,57.0,106.0,0,0
4,2018-12-18,1104.0,1044,20.0,1414.0,1359,15.0,OO,N274SY,3993,BNA,LGA,114.0,130.0,764.0,0,0

If you decide to only look at specific airports, it is a good decision to filter for them in advance.  
This function does the filtering.

In [58]:
# Specify the airports you are interested in and put them as a list in the function.
def select_airport(df, airports):
    ''' Helper function for filtering the airline dataframe for a subset of airports'''
    df_out = df.loc[(df.origin.isin(airports)) | (df.dest.isin(airports))]
    return df_out

#### Selecting the Airports

In [59]:
# Execute function, filtering for area airports
airports=['ATL', 'DFW', 'DEN', 'ORD', 'LAX', 'JFK', 'EWR', 'LGA']
if len(airports) > 0:
    df_selected_airports = select_airport(df_clean, airports)
else:
    df_selected_airports = df_clean
    
df_selected_airports.head()

df_selected_airports.shape

(1297165, 17)

# 3. Push the prepared data to a table in the database

In [48]:
engine #Testing the output to see if it is connected to sql_functions

Engine(postgresql://user:***@host/database)

In [60]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_name = 'flights_api_sql_group3'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_selected_airports.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

# It took 43 minutes :)

The flights_api_sql_group3 table was imported successfully.

In [62]:
# Just to be sure: Check if the number of rows match
table_name_sql = f'''SELECT count(*) 
                    FROM {schema}.{table_name}
                    '''
engine.execute(table_name_sql).fetchall()[0][0] == df_selected_airports.shape[0]

True